body {
    margin: 0;
    font-family: Arial, sans-serif;

}
.header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    padding: 5px 20px 0px 10px; /* Adjusted padding for consistency */
    text-align: left;
    font-size: 24px;
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 1001; /* Ensure subheader stays above other content */
}
.version {
    position: absolute;
    top: 5px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    font-size: 14px; /* Adjust as needed */
    color: #666; /* Adjust as needed */
    padding-top: 4px;
    z-index: 1000; /* Ensure subheader stays above other content */
    text-align: right;
}
.subheader {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    text-align: left;
    font-size: 15sspx;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: sticky;
    top: 66px;
    z-index: 1000;
    display: flex;  /* Updated to use flexbox */
    /* justify-content: space-between; /* Ensures content is spaced between left and right */
    align-items: center; /* Aligns items vertically centered */
    height: 25px;
}
.subheader select{
    margin: 0px 20px 0px 10px;
}
.timestamp {
    font-style: italic;
    color: #3ac52b; /* Subtle color for the timestamp */
    font-size: 14px; /* Slightly smaller font size than subheader for distinction */
}
.sidebar {
    position: fixed;
    width: 275px;
    height: 100%;
    overflow: auto;
    font-size: 15px;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}
.page-content {
    margin-left: 275px; /* Same as sidebar width */
    padding: 0px 20px;
}
.menu-item, .content {
    cursor: pointer;
    padding: 5px 5px 0px 10px; /* Base padding for left and right */
    background-color: #f0f0f0; /* Consistent background */
    margin: 0; /* Ensure no default margins are affecting layout */
    font-size: 13px;
}
.menu-item:hover {
    background-color: #f0f0f0;
}
.menu-level-1{
    color: #0c47eb;
}
.menu-level-2{
    color: #d51f1f;
}

.content {
    display: none;
    padding: 0; /* Remove padding inside content */
    padding-left: 0px; /* Only add padding to the left for child indentation */
}
.expanded > .content {
    display: block;
}
.indicator {
    margin-right: 5px;
    width: 15px;
    height: 10px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.indicator-page {
    width: 15px; /* Larger width */
    height: 15px; /* Larger height */
    background-image: url('static/img/page.png'); /* Set the page icon */
    background-size: contain; /* Adjust if needed to make the icon fit well */
    background-repeat: no-repeat;
    padding-bottom:5px;
}
.name{
  line-height: 2em;
}
.current-item > .name {
    font-weight: bold;
}

.page-content .table_layout {
    width: 100%; /* Make table use full width of its container */
    border-collapse: collapse; /* Remove space between borders */
}

.page-content .td_layout {
    width: 50%; /* Split cell width evenly */
    border: none; /* Remove cell borders */
    vertical-align: top; /* Align content to the top of the cell */
    line-height: 1.5em;
    padding: 10px;
    font-size: 15px;
}

.page-content td {
    line-height: 1em;
    padding: 0px 5px;
    font-size: 15px;
}

.td_layout td {
  background-color: #F9F9F9;
  font-size: 12px;
}

.page-content .table_layout img {
  max-height: 500px;
  max-width: 100%;
  height: auto;
  display: block;
  border: solid 1px #999;
}

.tox-statusbar {
  display:none;
}

.editButton{
  float:right;
}

.td_layout img {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
/* ====================================== */

#editModal, #addModal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
}

#loginModal {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
}

#loginModal .modal-body {
    padding-top: 30px;
}


.modal-container {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.modal-header, .modal-footer {
    padding: 10px 15px;
    line-height: 0px;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-body {
    padding: 5px 20px 20px 20px;
}

.modal-body label {
    padding: 20px;
}

.full-width {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.btn {
    padding: 4px 8px;
    margin-top: 10px;
    cursor: pointer;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
}

hr {
  margin: 0px 0px;
}

/* ====================================== */

.dropZone {
    border: 2px dashed #007BFF;
    border-radius: 5px;
    color: #007BFF;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    margin: 10px;
}

.dropZone:hover {
    background-color: #F0F8FF;
}

/* ====================================== */

code {
  background-color: #e0dff7;
  padding: 2px 5px;
  font-size: 13px;
  margin-left: 20px;
  border-radius: 4px;
}

/* ====================================== */
